
Library/EditorInstance.json
*.log
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Temp/ProcessJobs/1bf94b33c3ae3ba1aa4663ef80849d0d.bakert
Temp/UnityLockfile
